* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202019;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 25px;
  border-radius: 30px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.display textarea {
  justify-content: center;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
}

.rows {
  width: 100%;
  height: 50%;
  background-color: #000;
}

.btn {
  width: 60px;
  height: 65px;
  border-radius: 100px;
  color: #fff;
  padding: 1.5px;
  cursor: pointer;
}

.btn1 {
  background-color: #a5a5a5;
  color: #000;
  border: none;
}

.percent {
  background-color: #a5a5a5;
  border: none;
  color: #000;
}

.sign {
  background-color: #ff9f0a;
  border: none;
}

.numb,
.comma {
  background-color: #343434;
  border: none;
}

#last {
  display: flex;
  gap: 0.3rem;
}

.zero {
  width: 120px;
  border: none;
}
